<div class="new-post p-card p-8 flex !shadow-none">
    <div class="main w-3/4 p-2">
        <div class="wrapper-title mb-3">
            <input type="text" pInputText class="p-inputtext-sm w-full" placeholder="عنوان">
        </div>
        <div class="select-image mb-3">
            <p-fileUpload 
                            mode="basic" 
                            name="image" 
                            accept="image/*" 
                            [maxFileSize]="1000000" 
                            (onUpload)="onBasicUploadAuto($event)"
                            chooseLabel="انتخاب تصویر">
            </p-fileUpload>
        </div>
        <editor></editor>
    </div>
    <div class="side w-1/4 p-2 relative">
        <div class="p-card border !shadow-none mb-3">
            <h1 class="text-xl py-2 px-4 border-b">انتشار</h1>
            <div class="status flex p-4 justify-between">
                <span class="status-title flex items-center">وضعیت : </span>
                <p-inputSwitch [(ngModel)]="checked" class="p-inputtext-sm flex items-center"></p-inputSwitch>
            </div>
        </div>
        <div class="p-card border !shadow-none">
            <h1 class="text-xl py-2 px-4 border-b">تگ ها</h1>
            <div class="status flex p-4 justify-between flex-wrap">
                <p-chip [removable]="true" class="p-2 ">
                    <div class="content py-1 px-2">angular</div>
                </p-chip>
            </div>
        </div>
        <div class="share absolute bottom-2 w-full flex justify-between">
            <button class="p-button-sm p-button-success w-[48%] flex items-center" pButton label="انتشار" icon="pi pi-check"></button>
            <button class="p-button-sm p-button-danger w-[48%] flex items-center" pButton label="حذف" icon="pi pi-trash"></button>
        </div>
    </div>
</div>