:host ::ng-deep .p-toast {
    width: 23rem;

    @media (max-width:640px) {
        width: 20rem;
    }

    .p-toast-message-content {

        display: flex;
        align-items: center;
        padding: .5rem 1rem;

        .p-toast-message-icon {
            display: flex;
        }

        .p-toast-message-text {
            display: flex;
            margin-right: 1.5rem;
        }

        .p-toast-summary {
            font-size: 14px
        }
    }

    .p-toast-bottom-left {
        @media (max-width:640px) {
            right: 20px;
        }
    }
}