:host ::ng-deep .p-menu {
    border: none !important;
    width: 100%;
    .p-menuitem-icon {
        margin-right: 0 !important;
    }
    .p-menuitem-text {
        margin-right: .5rem;
    }
}
:host ::ng-deep .p-panelmenu-header-action {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.gradient-bg {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-image: linear-gradient(to right, #5786b0 0%, #0a5c60 100%);
    span, i {
        color: white;
    }
}