<div class="create-book wrapper-create !overflow-auto">
    <form class="" [formGroup]="bookForm" (ngSubmit)="submitBook(bookForm)">
        <div class="content">
            <div class="col transition-transform duration-1000">
                <div class="title mx-1 mb-3 pl-3 md:flex md:justify-center">
                    <h2
                        class="inline-block md:w-4/5 text-gray-600 text-lg font-extrabold md:border-b-0 p-2 border-r-4 border-red-500">
                        اطلاعات اصلی :
                    </h2>
                </div>
                <div class="w-full md:flex md:flex-col md:items-center">
                    <label 
                            class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400"
                            [for]="bookData.main[0].for">
                            {{bookData.main[0].title}}
                    </label>
                    <input 
                            [id]="bookData.main[0].id" 
                            [type]="bookData.main[0].type || bookData.public.type" 
                            [class]="bookData.public.class"
                            [ngClass]="[bookData.main[0].ngClass]" 
                            [placeholder]="bookData.main[0].placeholder"
                            [formControlName]="bookData.main[0].formControlName"
                    />
                    @if(isEmptyInput(bookData.main[0].formControlName)) { 
                        <small class="w-full md:w-4/5 text-red-500">{{bookData.main[0].error}}</small> 
                    }
                </div>
                <div 
                    class="w-full md:flex md:flex-col md:items-center" 
                    *ngFor="let main of [bookData.main[1], bookData.main[2]]">
                    <label 
                            class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400"
                            [for]="main.for">
                            {{main.title}}
                    </label>
                    <p-dropdown 
                                [options]="authors"
                                [formControlName]="main.formControlName"
                                optionLabel="name" 
                                [filter]="true" 
                                filterBy="name"
                                [showClear]="true"
                                styleClass="w-full p-inputtext-sm"
                                class="w-full md:w-4/5 mt-1"
                                [placeholder]="main.placeholder">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    @if(isEmptyInput(main.formControlName)) { <small class="w-full md:w-4/5 text-red-500">{{main.error}}</small> }
                </div>
            </div>
            <div class="language w-full md:flex md:flex-col md:items-center">
                <label class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400" for="language">
                    زبان :
                </label>
                <p-selectButton 
                                [options]="[{label: 'فارسی', value: 'farsi'}, {label: 'عربی', value: 'arabic'}]"
                                formControlName="language" 
                                id="language" 
                                class="w-4/5" 
                                optionLabel="label" 
                                optionValue="value">
                </p-selectButton>
                @if(isEmptyInput('language')) {
                    <small class="w-full md:w-4/5 text-red-600">یک زبان انتخاب کنید</small>
                }
            </div>
            <div class="col">
                <div class="title mx-1 mb-2 mt-6 pl-3 md:flex md:justify-center">
                    <h2
                        class="inline-block md:w-4/5 text-gray-600 text-lg font-extrabold p-2 border-r-4 border-red-500">
                        اطلاعات فرعی:
                    </h2>
                </div>
                <div class="w-full md:flex md:flex-col md:items-center">
                    <label 
                            class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400" 
                            [for]="bookData.details[0].for">
                            {{bookData.details[0].title}}
                    </label>
                    <p-dropdown [options]="[]"
                                [formControlName]="bookData.details[0].formControlName"
                                optionLabel="name"
                                [filter]="true"
                                filterBy="name" 
                                [showClear]="true" 
                                styleClass="w-full p-inputtext-sm" 
                                class="w-full md:w-4/5 mt-1" 
                                [placeholder]="bookData.details[0].placeholder">
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    @if(isEmptyInput(bookData.details[0].formControlName)) {
                    <small class="w-full md:w-4/5 text-red-500">{{bookData.details[0].error}}</small>
                    }
                </div>
                <div 
                    class="md:flex md:flex-col md:items-center" 
                    *ngFor="let details of [bookData.details[1], bookData.details[2], bookData.details[3]]">
                    <label class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400"
                        [for]="details.for">{{details.title}}</label>
                    <input 
                            [id]="details.id" 
                            [type]="details.type || bookData.public.type" 
                            [class]="bookData.public.class"
                            [ngClass]="[details.ngClass]" 
                            [placeholder]="details.placeholder"
                            [formControlName]="details.formControlName"/>
                    @if(isEmptyInput(details.formControlName)) {
                    <small class="w-full md:w-4/5 text-red-500">{{details.error}}</small>
                    }
        </div>
            </div>
            <div class="col">
                <div class="title mx-1 mb-2 mt-6 pl-3 md:flex md:justify-center">
                    <h2
                        class="inline-block md:w-4/5 text-gray-600 text-lg font-extrabold border-r-4 p-2 border-red-500">
                        اطلاعات ناشر :
                    </h2>
                </div>
                <div class="w-full md:flex md:flex-col md:items-center" *ngFor="let publish of bookData.publish">
                    <label 
                            class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400"
                            [for]="publish.for">
                            {{publish.title}}
                    </label>
                    <input 
                            [id]="publish.id" 
                            [type]="publish.type || bookData.public.type" 
                            [class]="bookData.public.class"
                            [ngClass]="[publish.ngClass]" 
                            [placeholder]="publish.placeholder"
                            [formControlName]="publish.formControlName"
                    />
                    @if(isEmptyInput(publish.formControlName)) {
                    <small class="w-full md:w-4/5 text-red-500">{{publish.error}}</small>
                    }
                </div>
            </div>
        </div>
        <div class="submit flex justify-center p-8 pt-0">
            <button 
                    pButton class="w-60" 
                    label="Submit" 
                    [loading]="loading" 
                    type="submit">
            </button>
        </div>
    </form>
</div>