@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer tailwind-base, primeng, tailwind-utilities, reset;


@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
    .wrapper-card {
        @apply p-4 sm:p-16 bg-white md:rounded-md md:border md:shadow-md overflow-hidden;
    }

    .wrapper-create {
        @apply px-8 pt-24 md:px-0 md:pt-16 bg-white md:rounded-md md:border md:shadow-md overflow-hidden h-screen md:h-auto
    }
}

@layer primeng {
    @import "primeng/resources/themes/lara-light-blue/theme.css";
    @import "primeng/resources/primeng.css";
}

@layer reset {
    .p-badge {
        line-height: 1.7rem;
        font-style: normal;
    }

    .p-button-sm {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

body {
    direction: rtl;
}
* {
    font-family: Vazirmatn;
    font-feature-settings: "ss01";
}
