<div 
    class="navbar flex items-center bg-white h-16 overflow-hidden shadow-md border-b md:border-none">
    <div class="wrapper-hamburger h-full flex items-center px-10">
        <i 
            class="pi pi-bars hover:cursor-pointer hover:scale-x-110 transition-all"  
            style="font-size: 1.5rem" (click)="toggleSidebar()">
        </i>
    </div>
    <div class="setting-menu flex items-center mr-auto ml-10">
        <i class="pi pi-bell ml-5 text-[24px] hover:cursor-pointer" pBadge value="2"></i>
        <button class="flex items-center" (click)="op.show($event)">
            <!-- <span class="email ml-2 text-base">sariah</span> -->
            <p-avatar 
                image="./../../assets/images/avatar.jpg" 
                shape="circle"
                class="mt-2">
            </p-avatar>
            <p-overlayPanel #op>
                <ul class="lists">
                    <li 
                        class="list-items my-2 pr-2 pl-8 rounded-sm flex items-center hover:cursor-pointer hover:bg-[#e9ecef]"
                        [ngClass]="{'sm:hidden': i === 0}" 
                        *ngFor="let item of setting; let i = index"
                        (click)="item?.method()"
                        >
                        <i class="py-2 text-sm" [ngClass]="[item.icon]"></i>
                        <span class="label text-sm py-2 px-4">{{item.label}}</span>
                        <i 
                            class="bell-mobile ml-5 mr-2 text-[12px] hover:cursor-pointer" 
                            [ngStyle]="{'display' : i !== 0 ? 'none' : 'inline-block'}"
                            pBadge value="2">
                        </i>
                    </li>
                </ul>
            </p-overlayPanel>
        </button>
    </div>
</div>
<app-toast></app-toast>