:host ::ng-deep p-multiSelect {
    .p-checkbox {
        margin-right: auto;
        margin-left: .5rem
    }

    .p-multiselect-close {
        margin-left: auto;
        margin-right: .5rem;
    }

    .p-multiselect-filter-icon {
        left: .75rem;
        right: auto;
    }
    .p-multiselect-label {
        font-size: 13px
    }
}

:host ::ng-deep p-selectbutton {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
        border-radius: 6px;
    }
    margin: .25rem;
    .p-selectbutton {
        > :nth-of-type(1) {
            border-radius: 0 6px 6px 0;
        }
        > :nth-of-type(2) {
            border-radius: 0;
            @media (max-width: 400px) {
                margin: 4px 0;
            }
        }
        > :nth-of-type(3) {
            border-radius: 6px 0 0 6px;
        }
        > * {
            @media (max-width: 400px) {
                width: 100%;
                border-radius: 6px !important;
            }
            width: 33.3333333%;
            transition: none;
            &:focus {
                box-shadow: none;
                outline: none;
            }
            &.p-highlight {

                > span {
                    color: white;
                }
            }
            border: 1px solid rgb(223, 223, 223);
            > span {
                color: rgb(156 163 175);
                font-weight: 400;
            }
        }

    }
}

:host ::ng-deep .language p-selectbutton {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
        border-radius: 6px;
    }
    margin: .25rem;
    .p-selectbutton {
        > * {
            width: 50%;
            @media (max-width: 400px) {
                width: 100%;
                border-radius: 6px !important;
            }
        }
        > :nth-of-type(2) {
            border-radius: 6px 0 0 6px !important;

            @media (max-width: 400px) {
                margin: 4px 0;
            }
        }
    }
}