<div class="create-author wrapper-create min-h-screen">
    <form class="w-full" [formGroup]="authorForm" (ngSubmit)="submitAuthor(authorForm)">
        <div class="flex justify-center flex-col items-center flex-column w-full ">
            @for (item of authorData; track item.formControlName){
                <div class="flex justify-center flex-col items-center flex-column w-full">
                    <label [for]="item.for" class="inline-block mr-1 mt-4 w-full md:w-4/5 text-base text-gray-400">
                        {{item.label}}
                    </label>
                    <input 
                            class="
                                    p-inputtext p-inputtext-sm md:p-inputtext-lg w-full md:w-4/5 
                                    md:block m-1 placeholder:text-[13px] placeholder:text-[#737c88]" 
                            pInputText [id]="item.id"
                            [formControlName]="item.formControlName" 
                            [placeholder]="item.placeholder" 
                            [ngClass]="{'ng-invalid ng-dirty': isEmptyInput(item.formControlName)}" 
                    />
                    @if(isEmptyInput(item.formControlName)) { 
                        <small class="w-full md:w-4/5 text-red-500">{{item.error}}</small>
                    }
                </div>
            }
            <div class="w-full md:flex md:flex-col md:items-center">
                <label class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400" for="books">
                    کتاب :
                </label>
                <p-multiSelect 
                                [options]="countries" 
                                [filter]="true"
                                id="books"
                                optionLabel="name"
                                formControlName="books"
                                styleClass="w-full"
                                class="w-4/5"
                                placeholder="انتخاب کتاب">
                </p-multiSelect>
            </div>
            <div class="profession w-full md:flex md:flex-col md:items-center">
                <label class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400" for="profession">
                    تخصص :
                </label>
                <p-selectButton 
                                [options]="typeAuthor" 
                                formControlName="profession"
                                id="profession"
                                class="w-4/5"
                                optionLabel="label"
                                optionValue="value">
                </p-selectButton>
            </div>
            <div class="language w-full md:flex md:flex-col md:items-center">
                <label class="inline-block mr-1 mt-4 md:w-4/5 text-base text-gray-400" for="language">
                    زبان :
                </label>
                <p-selectButton 
                                [options]="[{label: 'فارسی', value: 'farsi'}, {label: 'عربی', value: 'arabic'}]" 
                                formControlName="language"
                                id="language"
                                class="w-4/5"
                                optionLabel="label"
                                optionValue="value">
                </p-selectButton>
            </div>
        </div>
        <div class="submit flex justify-center pb-8 pt-11">
            <p-button 
                        styleClass="w-24 md:w-32" 
                        size="small" 
                        [loading]="loading" 
                        type="submit"
                        [styleClass]="'flex flex-row-reverse px-8'" 
                        label="ایجاد">
            </p-button>
        </div>
    </form>
</div>
